<div class="container mt-5">
    <div class="row">
        <section class="col-3 ">
            <ng-container *ngIf="types&&brands">
                <h5 class="text-secondary ml-3">Sort</h5>
                <select class="form-select form-select-lg mb-3" (change)="onSortSelected($event)">
                    <option *ngFor="let sort of sortOptions" [value]="sort.value">
                        {{sort.name}}
                    </option>

                </select>
                <h5 class="ml-3">Brands</h5>
                <ul class="list-group  my-3 ">
                    <li class="list-group-item  " *ngFor="let brand of brands"
                        [class.active]="brand.id==this.shoparams.brandId" [value]="brand.id"
                        (click)="onBrandSelected(brand.id)">
                        {{brand.name}}</li>
                </ul>
                <h5 class="ml-3">Types</h5>
                <ul class="list-group my-3" >
                    <li class="list-group-item " *ngFor="let type of types"
                        [class.active]="type.id===this.shoparams.typeId" [value]="type.id"
                        (click)="onTypeSelected(type.id)">
                        {{type.name}}</li>
                </ul>
            </ng-container>
        </section>
        <section class="col-9">
            <div class="d-flex justify-content-betwen align-items-center pb-2">
                <header>
                    <span>Showing
                        <strong>{{(this.shoparams.pageNumber-1)*this.shoparams.pageSize+1}}-{{this.shoparams.pageNumber*this.shoparams.pageSize}}</strong><strong>of
                        </strong><strong>{{this.totalCount}} </strong>Results</span>
                </header>
                <div class="input-group container-fluid" *ngIf="products">
                    <input type="text" class="form-control" placeholder="Search" (keyup.enter)="onSearch()" #search>
                    <button class="btn btn-outline-secondary" (click)="onSearch()" type="button">Search</button>
                    <button class="btn btn-outline-secondary" (click)="onReset()" type="button">Reset</button>
                </div>

            </div>
            <div class="album py-5 bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4" *ngFor="let item of products">
                            <app-product-item [product]="item"></app-product-item>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-xs-12 col-12">
                        <pagination [boundaryLinks]="true" [totalItems]="this.totalCount"
                            [itemsPerPage]="this.shoparams.pageSize" (pageChanged)="onPageChanged($event)"></pagination>
                    </div>
                </div>


            </div>
        </section>
    </div>
</div>