<div class="container mt-5">
    <div class="col-8">

        <body class="bg-light">

            <div class="container">
                <div class="py-5 text-center">
                    <h2>Checkout form</h2>
                </div>
                <div class="col-md-8 order-md-1">
                    <h4 class="mb-3">Billing address</h4>
                    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">First name</label>
                                <input type="text" formControlName="firstName" class="form-control" required>
                                <span class="text-danger"
                                *ngIf="checkoutForm.get('firstName')?.invalid && (checkoutForm.get('firstName')?.dirty || checkoutForm.get('firstName')?.touched) && checkoutForm.get('firstName')?.errors?.required">Please
                                enter First Name</span>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="lastName">Last name</label>
                                <input type="text" formControlName="lastName" class="form-control" required>
                                <span class="text-danger"
                                *ngIf="checkoutForm.get('lastName')?.invalid && (checkoutForm.get('lastName')?.dirty || checkoutForm.get('lastName')?.touched) && checkoutForm.get('lastName')?.errors?.required">Please
                                enter Last Name</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="address">Address</label>
                            <input type="text" formControlName="street" class="form-control" placeholder="1234 Main St"
                                required>
                                <span class="text-danger"
                                *ngIf="checkoutForm.get('street')?.invalid && (checkoutForm.get('street')?.dirty || checkoutForm.get('street')?.touched) && checkoutForm.get('street')?.errors?.required">Please
                                enter Street address </span>
                        </div>
                        <div class="row">
                            <div class="col-md-5 mb-3">
                                <label for="country">Country</label>
                                <select formControlName="state" class="custom-select d-block w-100" required>
                                    <option value="">Choose...</option>
                                    <option>Serbia</option>
                                </select>
                                <span class="text-danger"
                                *ngIf="checkoutForm.get('state')?.invalid && (checkoutForm.get('state')?.dirty || checkoutForm.get('state')?.touched) && checkoutForm.get('state')?.errors?.required">Please
                                select State </span>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="state">Citty</label>
                                <select formControlName="city" class="custom-select d-block w-100" required>
                                    <option value="">Choose...</option>
                                    <option>Belgrade</option>
                                </select>
                                <span class="text-danger"
                                *ngIf="checkoutForm.get('city')?.invalid && (checkoutForm.get('city')?.dirty || checkoutForm.get('city')?.touched) && checkoutForm.get('city')?.errors?.required">Please
                                select City </span>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="zip">Zip</label>
                                <input type="text" formControlName="zipcode" class="form-control" required>
                                <span class="text-danger"
                                *ngIf="checkoutForm.get('zipcode')?.invalid && (checkoutForm.get('zipcode')?.dirty || checkoutForm.get('zipcode')?.touched) && checkoutForm.get('zipcode')?.errors?.required">Please
                                enter Zipcode  </span>
                            </div>
                        </div>
                        <hr class="mb-4">
                        <label for="deliveryMethod">deliveryMethod</label>
                        <select formControlName="deliveryMethod" class="custom-select d-block w-100" required>
                            <option value="">Choose...</option>
                            <option *ngFor="let type of deliveryMethods" [value]="type.id"> {{type.shortName}} </option>

                            <option value="2">Slow (Free)</option>
                            <option value="3">Fast - (paid)</option>
                        </select>
                        <span class="text-danger"
                        *ngIf="checkoutForm.get('deliveryMethod')?.invalid && (checkoutForm.get('deliveryMethod')?.dirty || checkoutForm.get('deliveryMethod')?.touched) && checkoutForm.get('deliveryMethod')?.errors?.required">Please
                        select deliveryMethod </span>
                        <div class="form-group col-md-6"></div>



                        <hr class="mb-4">


                        <ul class="text-danger" *ngIf="errors">
                            <li *ngFor=" let error of errors">{{error}}</li>
                        </ul>
                        
                        <hr class="mb-4">
                        <button [disabled]="!checkoutForm.valid" class="btn btn-primary btn-lg btn-block" type="submit">Order Items </button>
                    </form>
                </div>
            </div>

            <div class="col-4">
                <app-order-total></app-order-total>
            </div>